version: "3.9"

services:
  app:
    build: ./docker/php
    volumes:
      - .:/var/www
    working_dir: /var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: tmdb
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
